


<% for (let run of data) { %>
    
    <center>
        <h3>Date of the Run: <%= run.rundate %></h3>
        <h3>Miles Ran: <%= run.milesran %></h3>
        <h3>Street 1:  <%= run.street1 %></h3>
        <h3>Street 2: <%= run.street2 %></h3>
        <h3>City: <%= run.city %></h3>
    </center>

<% } %>
