

 <% for (var i=0; i<data.length; i++) { %>
     <h3>Name: <%= data[i].first_name %> <span><%= data[i].last_name %></span></h3>
            <div class='col-md-4'>
                <h4>Total Miles: <%= data[i].t_miles %></h4>
                <h4>Ran <%= data[i].milesran %> Miles on <%= data[i].rundate %></h4>
            </div>
        <% } %>